.container{
    width: 60%;
    text-align: center;
    margin: 10% auto;
    padding: 4%;
    background-color: $White;
    border-radius: 20px;


    &__img{
        #imagem__qr{
            width: 100%;
            border-radius: 20px;
        }
    }
}

.content{
    &__title{
        @include text-parameters('Outfit', 700, 1.3rem, $Dark);
        @include forTablet-only{
            @include text-parameters('Outfit', 700, 1.5rem, $Dark);
        }
    }
    &__description{
        @include text-parameters('Outfit', 400, .9rem, $Grayish);
        @include forTablet-only{
            @include text-parameters('outfit', 400, 1.3rem, $Grayish)
        }
    }
}